{%extends 'movieapp/main_page.html' %}

{% block title %}Все фильмы {% endblock %}

{% block content %}
  <h1>Список всех фильмов</h1>
<ul>
  {% for i in movies %}
    <li><h2><a href="{{i.get_absolute_url}}">{{i.name}} {{i.year|default:"Неизвестен"}}</a>
    бюджет - {{i.budget}}</h2>
    </li>
  {% endfor %}
  </ul>
<h3>Средний бюджет: {{agg.budget}}</h3>
<h3>Максимальный рейтинг: {{agg.rating_max}}</h3>
<h3>Минимальный рейтинг: {{agg.rating_min}}</h3>
<h3>Всего фильмов: {{count_movies}}</h3>
{% endblock %}